.alumno
{
    margin-top: 20px;
    padding: 20px 0 20px 20px; 
    border-radius: 5px;
    border:1px solid #d3d3d3;
}
.titulo{
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 15px;
}
.datos{
    margin-top: 10px;
}
